<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<link rel="stylesheet" href="static/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- SECTION HTML-->
<section class="splash-container" name="main">
    <div class="splash">
        <h1>URL</h1><h2>SHORTENER</h2><br /><br />
        <div id="urlbox">
			<input class="splash-head" type="text" id="url"><a href="#" id="shortbtn" class="splash-linkah">&#xf0c1;</a>
		</div>
        <div class="css-selector-noob">
			<span class="splash-subhead" id="siteloc">Custom URL:</span><input class="splash-putin" type="text" id="custkey"><br />
        </div>
		<div id="error" class="splash-subhead"></div>
        <p class="splash-subhead">
            Have a link that's just too long? Make it <b>shrtr</b>.<br />
            Paste your link in the big box above and click the link icon.<br />
            Poof! A link that's shorter, easier to remember and much easier to share.<br />
            If you want, you can also specify a custom URL.<br />
        </p>
    </div>
</section>

<section class="content-wrapper">
    <div class="content alt" id="stats" name="stats">
        <div class="is-center"><h1 class="is-center">URL</h1><h2>STATS</h2></div><br />
        <div class="content-actual">
            Want to check where a link goes?<br />
            Curious about how many clicks a link has gotten?<br />
            Paste the key for the link below and click "Get stats" to see where a link leads to and how many clicks it has received.<br />
            <div class="underbar">
                Key: <input class="splash-putin" type="text" id="key">
                <a href="#stats" id="statsbtn" class="splash-putin">Get stats!</a>
            </div>
            <br />
            <h3 id="sfor"></h3>
            <div id="statsresults"></div>
        </div>
    </div>

    <div class="content" id="api" name="api">
        <div class="is-center"><h1>API</h1></div><br /><br />
        <div class="content-actual">
            If you're into that sort of thing, a JSON API is available.<br />
            <h3>Shortening a URL via the API</h3>
            To shorten a new URL, send a GET request to <code>/json/add</code> and specify the url, and key if needed.<br />
            The protocol (http or https) is mandatory. Also, there must be a slash after the domain in the url.<br />
            For example, <code>http://google.com/</code> is okay, but not <code>http://google.com</code>.<br />
            If any errors occur, the response object will look something like this: <code>{"error":"&lt;error reason&gt;"}</code><br />
            Otherwise, the response will be something along the lines of this: <code>{"key":"&lt;key for url&gt;","url":"&lt;long url&gt;","hits":"0"}</code><br />
            <h3>Get the stats of a URL via the API</h3>
            Send a GET request to <code>/json/stats/&lt;key&gt;</code>, where &lt;key&gt; is the key of the url you want to get stats on.<br />
            If any errors occur, the response object will look something like this: <code>{"error":"&lt;error reason&gt;"}</code><br />
            Otherwise, the response will be something along the lines of this: <code>{"key":"&lt;key for url&gt;","url":"&lt;long url&gt;","hits":"&lt;number of hits&gt;"}</code><br />
        </div>
    </div>

    <div class="footer is-center">
	<!-- Inline styling for the last bit <3 -->
        Made with &#10084; by <a style="text-decoration:none;color:#fff;" href="https://ohnx.github.io/">ohnx</a>
    </div>
</section>
<!-- SECTION JS -->
<script>
/* GLOBAL VARS */
var isValidURL = false;
var currColor = "#fff";

/* URL SHORTENER */
//send request
function shortURL() {
        if(!isValidURL) {
                return;
        }
        if(!(/^https?\:\/\/.*\..*\/.*$/.test(document.getElementById("url").value))) {
                //add http if it isnt there
                document.getElementById("url").value = "http://" + document.getElementById("url").value;
        }
        isValidURL = false;
        // Create a new request object
        var request = new XMLHttpRequest();
        request.onload = shortRet;
        var url = document.getElementById('url').value
        if(!document.getElementById('custkey').value=="") {
                url = url+'&key='+document.getElementById('custkey').value
        }
        // Initialize a request
        request.open('get', '/json/add?url='+url, true);
        // Send it
        request.send();
}

// Called after request
function shortRet() {
        var ret = JSON.parse(this.responseText);
        if(this.status == 400) {
                // error
                document.getElementById("error").style.color = "#FF0000";
                document.getElementById("urlbox").style.border = "2px solid #FF0000";
                document.getElementById("urlbox").style.boxShadow = "0px 0px 5px #FF0000";
                currColor = "#FF0000";
                document.getElementById("error").innerHTML = ret.error;
        } else {
                // itwerked!
                document.getElementById("url").value = window.location.host+'/'+ret.key;
                document.getElementById("urlbox").style.border = "2px solid #00FF00";
                document.getElementById("urlbox").style.boxShadow = "0px 0px 5px #00FF00";
                currColor = "#00FF00";
                // try to focus the bar
                // this doesn't really work atm...
                document.getElementById("urlbox").focus();
                document.getElementById("urlbox").select();
                document.getElementById("custkey").value = "";
                document.getElementById("error").style.color = "#00FF00";
                document.getElementById("error").innerHTML = "Successfully shortened URL!";
        }
}

/* URL STATS */
// html escape so that links wont make issues.
// houdini!
function htmlescape(houdini) {
        return houdini.replace(/[\u00A0-\u9999<>\&]/gim, function(i) { return '&#'+i.charCodeAt(0)+';'; });
}

// send stats request
function statsURL() {
        // Create a new request object
        var request = new XMLHttpRequest();
        request.onload = statsRet;
        var key = document.getElementById('key').value
        document.getElementById("sfor").innerHTML = "Stats for "+htmlescape(key);
        // Initialize a request
        request.open('get', '/json/stats/'+key, true);
        // Send it
        request.send();
}

// Return function for stats
function statsRet() {
        var ret = JSON.parse(this.responseText);
        if(this.status == 400) {
                //didn't work (invalid key)
                document.getElementById("statsresults").style.color = "#FF0000";
                document.getElementById("statsresults").innerHTML = ret.error;
        } else {
                // output stats
                document.getElementById("statsresults").style.color = "#000";
                document.getElementById("statsresults").innerHTML = "Stats for <b>"+htmlescape(ret.key)+"</b>:<br />Recieved <b>"+ret.hits+"</b> click(s)<br />Links to: <b><a href=\""+ret.url+"\">"+htmlescape(ret.url)+"</a></b>";
        }
}

// Check if entered textbox is a valid url
function validURL() {
        if(document.getElementById('url').value=="") {
                document.getElementById("urlbox").style.border = "2px solid #fff";
                document.getElementById("urlbox").style.boxShadow = "0px 0px 5px #fff";
                document.getElementById("error").style.color = "#00FF00";
                currColor = "#fff";
                document.getElementById("error").innerHTML = "";
                isValidURL = false;
        }
        if(/^(https?\:\/\/)?.*\..*\/.*$/.test(document.getElementById("url").value)) {
                document.getElementById("urlbox").style.border = "2px solid #fff";
                document.getElementById("urlbox").style.boxShadow = "0px 0px 5px #fff";
                document.getElementById("error").style.color = "#00FF00";
                currColor = "#fff";
                document.getElementById("error").innerHTML = "";
                isValidURL = true;
        } else {
                document.getElementById("urlbox").style.border = "2px solid #FF0000";
                document.getElementById("urlbox").style.boxShadow = "0px 0px 5px #FF0000";
                currColor = "#FF0000";
                document.getElementById("error").style.color = "#FF0000";
                document.getElementById("error").innerHTML = "The URL entered is invalid.";
                isValidURL = false;
    }
}

// go to top for main, as anchors dont work.
function gototop() {
        document.body.scrollTop = document.documentElement.scrollTop = 0;
}

/* BAR AESTHETICS */
// focus and unfocus bar
function focusBar() {
	document.getElementById("urlbox").style.backgroundColor = "rgba(255,255,255,0.5)";
	document.getElementById("urlbox").style.boxShadow = "0px 0px 5px "+currColor;
	document.getElementById("shortbtn").style.color = "#000";
}

function blurBar() {
	document.getElementById("urlbox").style.backgroundColor = "rgba(255,255,255,0.2)";
	document.getElementById("urlbox").style.boxShadow = "none";
	document.getElementById("shortbtn").style.color = "#fff";
}

blurBar();

function isElementInViewport (el) {
        var rect = el.getBoundingClientRect();
        return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
                rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
        );
}

// Checking for enter button pressed.
// When it is, check if the stats input is onscreen. If it is, then assume stats.
// Otherwise, assume url.
function keyPressed(e) {
	var keyCode = e.keyCode;
	if(keyCode==13) {
		if(isElementInViewport(document.getElementById("key"))) {
			statsURL();
		} else {
			shortURL();
		}
	}
},

/* EVENT HANDLERS */
// Note that I have click and touchstart here. Touch friendly? :)
document.getElementById("shortbtn").addEventListener('click', shortURL);
document.getElementById("shortbtn").addEventListener('touchstart', shortURL);
document.getElementById("url").addEventListener('keyup', validURL);
document.getElementById("url").addEventListener('input', validURL);
document.getElementById("url").addEventListener('paste', validURL);
document.getElementById("url").addEventListener('propertychange', validURL);
document.getElementById("custkey").addEventListener('keyup', validURL);
document.getElementById("custkey").addEventListener('input', validURL);
document.getElementById("custkey").addEventListener('paste', validURL);
document.getElementById("custkey").addEventListener('propertychange', validURL);
document.getElementById("url").addEventListener('focus', focusBar);
document.getElementById("url").addEventListener('blur', blurBar);
document.getElementById("statsbtn").addEventListener('click', statsURL);
document.getElementById("statsbtn").addEventListener('touchstart', statsURL);
document.addEventListener("keydown", keyPressed, false);

// Add the site location
document.getElementById("siteloc").innerHTML = window.location.host+'/';
</script>
</body>
</html>
